<!-- <h5>Datos de envío</h5>
<div class="container">
    <p><strong>Nombre:</strong> {{nombre}}</p>
    <p><strong>Apellidos:</strong> {{apellidos}}</p>
    <p><strong>Teléfono:</strong> {{telefono}}</p>
    <p><strong>E-mail:</strong> {{email}}</p>
    <p><strong>Dirección de envío:</strong> {{direccion}}</p>
    <p><strong>Código postal:</strong> {{postalcode}}</p>
    <p><strong>Ciudad:</strong> {{ciudad}} <strong>Provincia:</strong> {{provincia}}</p>
    <div class="country">
        <p><strong>País:</strong> {{pais}}</p>
        <a href="/address"><p>Modificar</p></a>
    </div>
</div> -->

<h5>Datos de facturación</h5>
<div class="container">
    <p><strong>sr:</strong> {{sr}}</p>
    <p><strong>nif:</strong> {{nif}}</p>
    <p><strong>nombre:</strong> {{nombre}}</p>
    <p><strong>phone:</strong> {{phone}}</p>
    <p><strong>E-mail:</strong> {{email}}</p>
    <p><strong>empresa:</strong> {{empresa}}</p>
    <p><strong>calle:</strong> {{calle}}</p>
    <p><strong>numero:</strong> {{numero}}</p>
    <p><strong>piso:</strong> {{piso}}</p>
    <p><strong>puerta:</strong> {{puerta}}</p>
    <p><strong>localidad:</strong> {{localidad}}</p>
    <p><strong>provincia:</strong> {{provincia}}</p>
    <p><strong>comunidad:</strong> {{comunidad}}</p>
    <p><strong>cp:</strong> {{cp}}</p>
    <p><strong>puntoderecogida:</strong> {{puntoderecogida}}</p>
</div>

<h5>Pago y envío</h5>
<div class="container">
    <p><strong>Forma de pago:</strong> {{payment}}</p>
    <p><strong>Tarjeta de crédito:</strong> {{tarjet}}</p>
    <!-- <p><strong>Método de envio:</strong> {{shippingtelefono}}</p>
    <p><strong>Envío Express:</strong> {{shippingtelefono}}</p> -->
    <!-- <p>Recibelo entre el viernes 23 y el lunes 26 de junio de 2023</p> -->
    <div class="payment">
        <a href="/shippingaddress"><p>Modificar</p></a>
    </div>
</div>

<!-- <h5>Revisa tu cesta</h5>
<div class="container">
    
</div> -->