<div class="filter_product">
    <div class="sort"><i class="fa-solid fa-arrow-down-wide-short"></i>Ordenar</div>
    <div>
        <div class="list-grid">
            <div class="sort">
                <i class="fa-solid fa-arrow-down-z-a category"></i>Categoria
            </div>
            <i class="fa-solid fa-list"></i>
            <i class="fa-solid fa-grid"></i>
        </div>
    </div>
</div>

<div class="container mt-4 mb-5">
    <div class="grid">
        <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                <app-card></app-card>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                <app-card></app-card>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                <app-card></app-card>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                <app-card></app-card>
            </div>
        </div>
    </div>
</div>
