<div class="container">
  <div class="address-container">
      <i class="fa-solid fa-truck icostyle"></i>
      <p>Comprobar dirección de entrega</p>
      <a data-bs-toggle="collapse" href="#direction" role="button" aria-expanded="false">
          <i class="fa-solid fa-caret-down icostyle"></i>
        </a>
  </div>
  <div class="collapse" id="direction">
      <div class="card card-body">
        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
      </div>
    </div>
  <div class="price-container">
      <p>Total a pagar:</p><p>8.40€</p>
  </div>
  <div class="card">
    <a href="{{href}}">
      <button mat-button>Pagar</button>
    </a>
    <img src="../../../assets/img/pago.jpg" alt="cards">
  </div>
</div>
